---
import type { CollectionEntry } from "astro:content";
import PostLayout from "@/layouts/PostLayout.astro";
import Pagination from "./Pagination.astro";
import { toDateString } from "@/lib/date";

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedPosts: CollectionEntry<"blog">[];
}
const { currentPage, totalPages, paginatedPosts } = Astro.props;
const title = currentPage < 2 ? "Writing." : `Writing. - Page ${currentPage}`;
---

<PostLayout title={title}>
  <div>
    <h1 class="mb">Writing.</h1>

    <ul class="flex flex-column gap-2 no-list">
      {
        paginatedPosts.map(({ data, slug }) => (
          <li class="flex gap-half flex-column">
            <div class="flex space-between align-top gap-1">
              <a href={`/${slug}`}>
                <span>{data.title}</span>
              </a>
              <time class="date">{toDateString(data.pubDate)}</time>
            </div>
            <div class="small-text">{data.description}</div>
          </li>
        ))
      }
    </ul>
    <div class="mt-2">
      <Pagination
        {currentPage}
        {totalPages}
        prevUrl={`/posts${
          currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""
        }`}
        nextUrl={`/posts/${currentPage + 1}`}
      />
    </div>
  </div>
</PostLayout>
